# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.env

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local testing and scratch files
test.py